body {	color:#666;	font:300 15px/15px Roboto,Arial,Helvetica;background-color:#fff;-webkit-font-smoothing:antialiased;}

h1,h2,h3,h4{margin: 0;line-height: 1em;}
h1{font:700 5em Roboto,Arial,Helvetica;margin:0.25em 0;text-transform: uppercase;}
h2{font:300 2.5em Roboto,Arial,Helvetica;margin-bottom: 1.5em;}
h3{font:300 2em Roboto,Arial,Helvetica;margin:2em 0 1em 0;}
h4{font:300 1.5em Roboto,Arial,Helvetica;margin-bottom: 1em;}
h4 i{margin-right: 0.5em;}

p{font-size:1em;line-height: 1.7em; margin-bottom: 1.7em;}

/*works*/
#works{padding-top:10px;}
#works figcaption a{border:1px solid #fff;margin-top: 1em;display: inline-block;color: #fff;padding: 0 2em;}
#works figcaption a:hover{text-decoration: none;padding: 0 3em;}
/*works*/

@media (max-width: 1200px) {
	body{font:300 13px/13px Roboto,Arial,Helvetica;}	
	.grid figure h3{font: 700 1.5em Roboto,Arial,Helvetica;}
	figure.effect-oscar figcaption{padding: 12%;}
	figure.effect-oscar figcaption::before,figure.effect-chico figcaption::before{top: 20px;right: 20px;bottom: 20px;left: 20px;}

}

@media (max-width: 900px) {
	figure.effect-oscar figcaption {padding: 20%;}
	#data{width:50%;}
}

@media (max-width: 767px) {
	body{font:300 12px/12px Roboto,Arial,Helvetica;}
	#works {padding-top: 5px;}
	/*时间canvas*/
	#data{width:50%;}
	#canvas{
		width: 150px;
		height: 60px;
	}
}
